@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
@import url('./select.css');



$NAVIGATION: #FCE38A;
$NAVIGATION_ACTIVE: #F38181;
$ITEM_BACKGROUND: #555555;
$LINK_COLOR: #fff !important;

$PRIMARY_ORANGE: rgb(255, 152, 0);
$PRIMARY_GREY: #333333;
$SECONDARY_GREY: rgb(85, 85, 85);

body {
    background-color: #212121;
    font-family: 'Roboto', sans-serif !important;
}

#main {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    max-width: 1200px;
    font-size: 16px;
}

select#skills {
    height: 300px;
    width: 300px;
    display: block;
    margin: 0 auto;
    background-color: $ITEM_BACKGROUND;
    color: #fff;
}

.navigation {
    text-align: center;
}

.navigation__list {
    padding: 0;
}

.navigation__list__item {
    list-style-type: none;
    display: inline-block;
    background-color: $PRIMARY_ORANGE;
    padding: 1em;
    border: 1px solid black;
    border-right: 0;
}

.navigation__list__item:last-child {
    border-right: 1px solid black;
}

.navigation__list__item--active {
    background-color: $SECONDARY_GREY;
}

.navigation__list__item__link {
    text-decoration: none;
    text-transform: uppercase;
    color: $LINK_COLOR;
}

.searchbar {
    max-width: 75%;
    position: relative;
    margin: 0 auto 3em;
    height: 25px;
}

.searchbar .mdl-textfield {
    width: 100%;
}

.searchResults {
    width: 100%;
    margin: 3em auto 0 auto;
}

.searchResults__results {
}

.loginForm {
    position: absolute;
    left: 0;

    form {
        margin: 10px;
        display: none;
        padding: 10px;
        background-color: $PRIMARY_GREY;
        color: #FFFFFF;

        div {
            display: block;
        }
    }

    &:hover {
        form {
            border: 1px solid black;
            z-index: 10;
            display: block;
        }
    }

}

.counter {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: rgba(245, 245, 245, 0.5);
}

.counter__element {
    margin: 0 1em;
    display: inline-block;
}

.primaryButton {
    background-color: $PRIMARY_ORANGE !important;
    color: #000 !important;
    display: block !important;
    margin: 0 auto !important;
}

.primaryButton:hover {
    background-color: rgba(255, 152, 0, 0.4) !important;
}

.deleteButton {
    margin-top: 5px !important;
}

.mdl-textfield {
    display: block !important;
    margin: 0 auto !important;
}

.mdl-textfield__input {
    border-bottom: 1px solid rgb(66, 66, 66) !important;
    color: #FFF !important;
}

.mdl-textfield__label {
    color: rgba(245, 245, 245, 0.5) !important;
}

.mdl-chip {
    background-color: #212121 !important;
    height: 21px !important;
    line-height: 18px !important;
    transform: translateY(-25%);
}

.mdl-select {
    display: block !important;
}

.mdl-select .material-icons {
    right: initial !important;
    margin-left: 110px;
}

.mdl-menu__container {
    width: 300px !important;
    margin: 0 auto !important;
}

.is-focused.mdl-textfield--floating-label .mdl-textfield__label {
    color: rgb(255, 152, 0) !important;
}

.content {
    text-align: center;
}

.item__wrapper {
    padding: 1em;
    margin: 1em 0.1em;
    border: 1px dashed grey;
    display: inline-block;
    text-align: left;
    background-color: $ITEM_BACKGROUND;
    color: #fff;
    max-width: 300px;

    a {
        color: $LINK_COLOR;
    }

    p {
        margin: 0;
        &:first-child {
            text-decoration: underline;
            font-weight: bold;
        }
        &:nth-child(2) {
            margin-top: 1em;
        }
    }
}

.item__single {
    width: initial;
    max-width: initial;
}

.slogan__list__item {
    display: block;
    margin: 1em auto;
    width: 100%;
}

.frontSlogan {
    font-size: 2rem;
    line-height: 2em;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    text-align: center;
    font-weight: bolder;
}

.item__list__description {
    margin-top: 10px!important;
}

.item__list {
    margin: 0;
}

.messages {
    margin: 0 auto;
    max-width: 30%;
    text-align: center;
    margin-top: 20px;

    > div {
        padding: 5px 0;
    }
}

.messages__error {
    background-color: tomato;
}

.messages__success {
    background-color: #6AAF6A;
}

.form {
    text-align: center;
}

.form__label{
    width: 100%;
    display: inline-block;
    text-align: left;
    margin-right: 10px;
    color: rgba(245, 245, 245, 0.5) !important
}
.form__property {
    width: 300px;
    margin: 1em auto;
}
.form__input{
}
